
ProgettoP2.pro.user
*.user
ProgettoP2.pro.user.becd88b.4.8-pre1
ProgettoP2.pro.user
compiling_error.txt
*.o
moc_*
Makefile
.DS_Store
.qmake.stash
qrc_qml.cpp
build.sh
*.aux
*.dvi
*.log
*.gz
*.bak
*.toc
*.jpg
classi.pdf
