.QPushButton {
	background-color: white;
	border: none;
	font-size: 14px;
}

.QPushButton:hover {
	/*background-color: #ededed;*/
	background-color: #ededed;
	border: 1px solid #d8d8d8;
}

.QTextBrowser {
	border:none;
}

QLabel#lib {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
